@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 400;
}

.content {
  margin: 0 auto;
  max-width: 1285px;
  padding: 0 40px 0 85px;
}

@media (max-width: 767px) {
  .content {
    padding: 0 35px 0 45px;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 0 20px 0 30px;
  }
}

.wrapper {
  position: relative;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 900;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  background-color: #000;
}

a {
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title99 {
  font-weight: 800;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .title99 {
    font-size: 45px;
  }
}

@media (max-width: 600px) {
  .title99 {
    font-size: 25px;
  }
}

source {
  max-width: 100%;
  min-width: 100%;
}

.header {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 15px 0;
  }
}

.header__burger {
  width: 32px;
  height: 32px;
  position: relative;
  display: none;
}

@media (max-width: 600px) {
  .header__burger {
    display: block;
  }
}

.header__burger:after {
  content: "";
  display: block;
  width: 19px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 9px;
  left: 0;
}

.header__burger:before {
  content: "";
  display: block;
  width: 19px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 14px;
  left: 0;
}

.header__burger span:after {
  content: "";
  display: block;
  width: 19px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 19px;
  left: 0;
}

@media (max-width: 600px) {
  .header__list {
    display: none;
  }
}

.header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .header__list li:not(:last-child) {
    margin-right: 20px;
  }
}

.header__list li a:hover {
  color: #b95656;
}

.header__list li a:active {
  color: #968b8b;
}

.header__btn {
  background-color: #fff;
  letter-spacing: 4px;
  word-spacing: 4px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  height: 60px;
  width: 320px;
}

.header__btn:hover {
  background-color: #ebdbdb;
}

.header__btn:active {
  background-color: #968b8b;
}

@media (max-width: 767px) {
  .header__btn {
    width: 270px;
    height: 50px;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .header__btn {
    width: 177px;
    height: 30px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
}

.header__btn a {
  color: black;
  padding: 0px 5px;
}

.header__btn {
  position: relative;
}

.header__btn:after {
  content: "";
  display: block;
  background-color: black;
  -webkit-transform: rotate(47deg);
          transform: rotate(47deg);
  width: 25px;
  height: 25px;
  position: absolute;
  right: -14px;
  top: -12px;
}

.header__btn:before {
  content: "";
  display: block;
  background-color: black;
  -webkit-transform: rotate(47deg);
          transform: rotate(47deg);
  width: 25px;
  height: 25px;
  position: absolute;
  left: -14px;
  bottom: -12px;
}

@media (max-width: 600px) {
  .header__btn:after {
    position: absolute;
    right: -18px;
    top: -14px;
  }
  .header__btn:before {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 0;
    left: -8px;
    bottom: -7px;
  }
}

.header__burger__active {
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 901;
  width: 100%;
  font-size: 30px;
  background-color: black;
  padding: 70px 0 330px 90px;
  font-family: "Oxanium";
}

@media (max-width: 450px) {
  .header__burger__active {
    padding: 70px 0 330px 50px;
  }
}

.header__burger__active li {
  margin-bottom: 30px;
}

.header__active__less {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 55px;
  right: 45px;
}

.header__active__less:after {
  content: "";
  display: block;
  background-color: red;
  width: 25px;
  height: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 0px;
  top: 0px;
}

.header__active__less:before {
  content: "";
  display: block;
  background-color: #fff;
  width: 25px;
  height: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.active_red {
  color: red;
}

.trans {
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.ewolved {
  padding-bottom: 320px;
  margin-top: 300px;
  position: relative;
}

@media (max-width: 767px) {
  .ewolved {
    margin-top: 270px;
    padding-bottom: 260px;
  }
}

@media (max-width: 600px) {
  .ewolved {
    margin-top: 140px;
    padding-bottom: 175px;
  }
}

.ewolved__subtitle {
  font-size: 27px;
  opacity: 0.7;
  letter-spacing: 4px;
  line-height: 110%;
  margin-left: 175px;
  font-weight: 600;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .ewolved__subtitle {
    font-size: 22px;
    margin-left: 60px;
  }
}

@media (max-width: 600px) {
  .ewolved__subtitle {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 8px;
  }
}

.ewolved__title {
  font-weight: 900;
  line-height: 110%;
  font-size: 146px;
  margin-left: 175px;
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .ewolved__title {
    font-size: 100px;
  }
}

@media (max-width: 767px) {
  .ewolved__title {
    font-size: 80px;
    margin-left: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .ewolved__title {
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
}

.ewolved__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 195px;
}

@media (max-width: 767px) {
  .ewolved__btn {
    padding-left: 80px;
  }
}

@media (max-width: 600px) {
  .ewolved__btn {
    padding-left: 20px;
  }
}

.ewolved__btn_btn {
  background-color: green;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin-right: 16px;
  border: 1px solid #fff;
  background: #000 url(../img/Play-icon.svg) 55% 50% no-repeat;
  position: relative;
  z-index: 77;
}

@media (max-width: 600px) {
  .ewolved__btn_btn {
    width: 36px;
    height: 36px;
    background-size: 40%;
  }
}

.ewolved__btn_btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: block;
  background-color: transparent;
  border: 1px solid #C5C5C5;
  z-index: 1;
  -webkit-animation: pulse 2s linear infinite normal 0s forwards;
          animation: pulse 2s linear infinite normal 0s forwards;
}

@media (max-width: 600px) {
  .ewolved__btn_btn:after {
    width: 36px;
    height: 36px;
    min-width: 36px;
    -webkit-animation: pulse_m 2s linear infinite normal 0s forwards;
            animation: pulse_m 2s linear infinite normal 0s forwards;
  }
}

.ewolved__btn_btn:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: block;
  background-color: transparent;
  border: 1px solid red;
  z-index: 1;
  -webkit-animation: pulse 2s linear infinite normal 1s forwards;
          animation: pulse 2s linear infinite normal 1s forwards;
}

@media (max-width: 600px) {
  .ewolved__btn_btn:before {
    width: 36px;
    height: 36px;
    -webkit-animation: pulse_m 2s linear infinite normal 1s forwards;
            animation: pulse_m 2s linear infinite normal 1s forwards;
  }
}

@-webkit-keyframes pulse {
  0% {
    width: 66px;
    height: 66px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    width: 66px;
    height: 66px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    opacity: 0;
  }
}

@-webkit-keyframes pulse_m {
  0% {
    width: 36px;
    height: 36px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}

@keyframes pulse_m {
  0% {
    width: 36px;
    height: 36px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}

.ewolved__btn_text {
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 110%;
  font-size: 22px;
}

@media (max-width: 600px) {
  .ewolved__btn_text {
    font-size: 13px;
  }
}

.ewolved__dekor {
  display: block;
  background-color: #FFF;
  opacity: 0.25;
  width: 160px;
  height: 1px;
  border: 1px solid #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  bottom: 190px;
  left: 147px;
}

@media (max-width: 767px) {
  .ewolved__dekor {
    left: 34px;
    bottom: 130px;
  }
}

@media (max-width: 600px) {
  .ewolved__dekor {
    width: 100px;
    left: -11px;
  }
}

.welcome__title {
  margin-left: 230px;
}

.welcome__title::before {
  content: "";
  display: block;
  border-top: 1px solid red;
  width: 80px;
  height: 1px;
  margin-left: 110px;
  padding-bottom: 15px;
}

@media (max-width: 600px) {
  .welcome__title::before {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .welcome__title {
    margin-left: 80px;
  }
}

@media (max-width: 600px) {
  .welcome__title {
    margin-left: 5px;
  }
}

.welcome__title_less {
  margin-left: 335px;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 150%;
}

@media (max-width: 767px) {
  .welcome__title_less {
    margin-left: 140px;
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .welcome__title_less {
    margin-left: 65px;
    font-size: 18px;
  }
}

.welcome__sub_block {
  margin-top: 90px;
}

@media (max-width: 767px) {
  .welcome__sub_block {
    margin-top: 60px;
  }
}

.sub_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sub_block_title {
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  opacity: 0.5;
  position: relative;
}

@media (max-width: 767px) {
  .sub_block_title {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .sub_block_title {
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 200%;
  }
}

.sub_block_title::before {
  content: "";
  display: block;
  background-color: #fff;
  opacity: 0.5;
  width: 80px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: -120px;
}

@media (max-width: 600px) {
  .sub_block_title::before {
    display: none;
  }
}

.sub_block_time {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .sub_block_time {
    font-size: 25px;
  }
}

.sub_block_time span {
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.welcome {
  margin-bottom: 170px;
}

@media (max-width: 767px) {
  .welcome {
    margin-bottom: 0px;
  }
}

.welcome__colaborative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
}

.welcome__colaborative_text {
  max-width: 295px;
  font-family: 'Fira Sans';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-right: 160px;
}

@media (max-with: 600px) {
  .welcome__colaborative_text {
    font-size: 13px;
    letter-spacing: 6px;
  }
}

@media (max-width: 600px) {
  .welcome__colaborative_text {
    margin-right: 5px;
  }
}

@media (max-width: 600px) {
  .welcome__colaborative_addition img {
    margin-top: -25px;
    margin-right: -10px;
  }
}

.part_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .part_main {
    margin-top: 30px;
  }
}

.part_main__item {
  max-width: 390px;
  margin-bottom: -70px;
}

@media (max-width: 900px) {
  .part_main__item {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .part_main__item {
    max-width: 290px;
  }
}

.part_item_title {
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.part_item_title span {
  color: red;
}

@media (max-width: 600px) {
  .part_item_title {
    font-size: 22px;
    margin-bottom: 25px;
  }
}

.part_item_p {
  text-transform: uppercase;
  font-family: 'Fira Sans';
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  margin-right: 30px;
}

@media (max-width: 600px) {
  .part_item_p {
    font-size: 13px;
    line-height: 18px;
  }
}

.part_main__item_2, .part_main__item_4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 400px) {
  .part_main__item_2, .part_main__item_4 {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.stade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .stade {
    margin-top: 150px;
  }
}

@media (max-width: 767px) {
  .stade {
    margin-top: 100px;
  }
}

@media (max-width: 600px) {
  .stade {
    margin-top: 100px;
  }
}

.stade__title {
  margin-left: 20px;
  position: relative;
  margin-bottom: 115px;
}

@media (max-width: 767px) {
  .stade__title {
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .stade__title {
    margin-bottom: 40px;
  }
}

.stade__title::before {
  content: "";
  display: block;
  background-color: red;
  width: 85px;
  height: 1px;
  left: 200px;
  position: absolute;
  top: -20px;
}

@media (max-width: 767px) {
  .stade__title::before {
    position: absolute;
    top: -10px;
  }
}

@media (max-width: 600px) {
  .stade__title::before {
    position: absolute;
    top: -10px;
    left: 50px;
  }
}

.stade__item {
  max-width: 310px;
  margin-bottom: 70px;
}

@media (max-width: 600px) {
  .stade__item {
    margin-bottom: 50px;
  }
}

.stade__number {
  opacity: 0.5;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  position: relative;
}

.stade__number::before {
  content: "";
  display: block;
  background-color: red;
  width: 80px;
  height: 1px;
  position: absolute;
  top: 15px;
  left: 80px;
}

.stade__item__title {
  font-family: 'Fira Sans';
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
}

.stade__item__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 139px;
  background: url(../img/title_before.svg) 100% 100%;
  width: 108px;
  height: 20px;
}

@media (max-width: 600px) {
  .stade__item__title {
    margin-left: 25px;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

.stade__item__p {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  text-transform: uppercase;
  opacity: 0.5;
}

@media (max-width: 600px) {
  .stade__item__p {
    font-size: 13px;
  }
}

.partners__title {
  position: relative;
  margin-bottom: 50px;
  margin-top: 30px;
}

@media (max-width: 600px) {
  .partners__title {
    margin-bottom: 30px;
  }
}

.partners__title span {
  color: red;
}

.partners__title::before {
  content: "";
  display: block;
  background-color: red;
  width: 85px;
  height: 1px;
  left: 200px;
  position: absolute;
  top: -20px;
}

@media (max-width: 767px) {
  .partners__title::before {
    position: absolute;
    top: -10px;
  }
}

@media (max-width: 600px) {
  .partners__title::before {
    position: absolute;
    top: -10px;
    left: 50px;
  }
}

.partners__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.partners__item_img {
  margin-bottom: 40px;
}

.partners__item_text {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 8px;
  text-transform: uppercase;
  opacity: 0.5;
}

img {
  max-width: 100%;
}

.team__title {
  text-align: center;
  position: relative;
  margin-bottom: 70px;
}

@media (max-width: 600px) {
  .team__title {
    margin-bottom: 40px;
    text-align: left;
  }
}

.team__title::before {
  content: "";
  display: block;
  background-color: red;
  width: 80px;
  height: 1px;
  position: absolute;
  left: 50%;
}

@media (max-width: 600px) {
  .team__title::before {
    width: 50px;
    margin-top: -5px;
    left: 0%;
  }
}

.team__net {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 70px;
}

@media (max-width: 992px) {
  .team__net {
    grid-gap: 40px;
  }
}

.team__item {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  max-height: 380px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(purple));
  background: linear-gradient(to bottom, #000, purple);
  padding: 3px;
}

.team__item_wrapper {
  background: -webkit-gradient(linear, left bottom, left top, from(#16181B), color-stop(70.26%, rgba(22, 24, 27, 0)));
  background: linear-gradient(360deg, #16181B 0%, rgba(22, 24, 27, 0) 70.26%);
  -webkit-box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 100%;
  border-radius: 16px;
  padding: 0 25px 32px 25px;
}

.team__item_img {
  margin-bottom: 13px;
}

.team__item_title {
  background: rgba(153, 162, 213, 0.08);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border-radius: 8px;
  text-align: center;
  font-family: 'Oxanium';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 44px;
  margin-bottom: 20px;
}

.team__item_title:hover {
  background: rgba(153, 162, 213, 0.3);
}

.team__item_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__text_product {
  font-family: 'Oxanium';
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #6c767e;
}

footer {
  margin-top: 150px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  footer {
    margin-top: 70px;
  }
}

.footer__text {
  margin-bottom: 50px;
}

.footer__text_p {
  font-weight: 800;
  font-size: 25px;
  line-height: 48px;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .footer__text_p {
    font-size: 16px;
    text-align: center;
  }
}

.footer__social_networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  padding: 0 5px;
  margin-bottom: 50px;
}

.footer__social_networks a img {
  max-width: 28px;
}

.footer__politic {
  text-align: center;
}

.footer__politic a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.05px;
  text-transform: uppercase;
  opacity: 0.5;
}

.wrapper__anime {
  width: 100%;
  -webkit-perspective: 300px;
          perspective: 300px;
}

.wrapper__anime_card {
  width: 320px;
  background-color: -webkit-linear-gradient(180deg, #4f331e, #999a35, #d24848);
  background: -webkit-gradient(linear, left top, left bottom, from(#4f331e), color-stop(#999a35), to(#d24848));
  background: linear-gradient(180deg, #4f331e, #999a35, #d24848);
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden;
  border-radius: 10px;
  height: 500px;
}

.wrapper__anime_card img {
  height: 400px;
  width: 100%;
}

.wrapper__anime_btn {
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid #C5C5C5;
  width: 200px;
  height: 40px;
  letter-spacing: 8px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(31, 24, 72, 0.3);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper__anime_btn:active {
  background-color: rgba(31, 24, 72, 0.6);
}
/*# sourceMappingURL=style.css.map */