@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 400;
}

.content {
  margin: 0 auto;
  max-width: 1285px;
  padding: 0 40px 0 85px;
}

@media (max-width: 767px) {
  .content {
    padding: 0 35px 0 45px;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 0 20px 0 30px;
  }
}

.wrapper {
  position: relative;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 900;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  background-color: #000;
}

a {
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.title99 {
  font-weight: 800;
  font-size: 80px;
  line-height: 100%;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .title99 {
    font-size: 45px;
  }
}

@media (max-width: 600px) {
  .title99 {
    font-size: 25px;
  }
}

.header {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
}

@media (max-width: 600px) {
  .header {
    padding: 15px 0;
  }
}

.header__burger {
  width: 32px;
  height: 32px;
  position: relative;
  display: none;
}

@media (max-width: 600px) {
  .header__burger {
    display: block;
  }
}

.header__burger:after {
  content: "";
  display: block;
  width: 19px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 9px;
  left: 0;
}

.header__burger:before {
  content: "";
  display: block;
  width: 19px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 14px;
  left: 0;
}

.header__burger span:after {
  content: "";
  display: block;
  width: 19px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 19px;
  left: 0;
}

@media (max-width: 600px) {
  .header__list {
    display: none;
  }
}

.header__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li:not(:last-child) {
  margin-right: 50px;
}

@media (max-width: 767px) {
  .header__list li:not(:last-child) {
    margin-right: 20px;
  }
}

.header__list li a:hover {
  color: #b95656;
}

.header__list li a:active {
  color: #968b8b;
}

.header__btn {
  background-color: #fff;
  letter-spacing: 4px;
  word-spacing: 4px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  height: 60px;
  width: 320px;
}

.header__btn:hover {
  background-color: #ebdbdb;
}

.header__btn:active {
  background-color: #968b8b;
}

@media (max-width: 767px) {
  .header__btn {
    width: 270px;
    height: 50px;
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .header__btn {
    width: 177px;
    height: 30px;
    letter-spacing: 1px;
    word-spacing: 1px;
  }
}

.header__btn a {
  color: black;
  padding: 0px 5px;
}

.header__btn {
  position: relative;
}

.header__btn:after {
  content: "";
  display: block;
  background-color: black;
  -webkit-transform: rotate(47deg);
          transform: rotate(47deg);
  width: 25px;
  height: 25px;
  position: absolute;
  right: -14px;
  top: -12px;
}

.header__btn:before {
  content: "";
  display: block;
  background-color: black;
  -webkit-transform: rotate(47deg);
          transform: rotate(47deg);
  width: 25px;
  height: 25px;
  position: absolute;
  left: -14px;
  bottom: -12px;
}

@media (max-width: 600px) {
  .header__btn:after {
    position: absolute;
    right: -18px;
    top: -14px;
  }
  .header__btn:before {
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 0;
    left: -8px;
    bottom: -7px;
  }
}

.header__burger__active {
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 901;
  width: 100%;
  font-size: 30px;
  background-color: black;
  padding: 70px 0 330px 90px;
  font-family: "Oxanium";
}

@media (max-width: 450px) {
  .header__burger__active {
    padding: 70px 0 330px 50px;
  }
}

.header__burger__active li {
  margin-bottom: 30px;
}

.header__active__less {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 55px;
  right: 45px;
}

.header__active__less:after {
  content: "";
  display: block;
  background-color: red;
  width: 25px;
  height: 4px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  left: 0px;
  top: 0px;
}

.header__active__less:before {
  content: "";
  display: block;
  background-color: #fff;
  width: 25px;
  height: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.active_red {
  color: red;
}

.trans {
  -webkit-transition: all 2s linear;
  transition: all 2s linear;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.ewolved {
  padding-bottom: 320px;
  margin-top: 300px;
  position: relative;
}

@media (max-width: 767px) {
  .ewolved {
    margin-top: 270px;
    padding-bottom: 260px;
  }
}

@media (max-width: 600px) {
  .ewolved {
    margin-top: 140px;
    padding-bottom: 175px;
  }
}

.ewolved__subtitle {
  font-size: 27px;
  opacity: 0.7;
  letter-spacing: 4px;
  line-height: 110%;
  margin-left: 175px;
  font-weight: 600;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .ewolved__subtitle {
    font-size: 22px;
    margin-left: 60px;
  }
}

@media (max-width: 600px) {
  .ewolved__subtitle {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 8px;
  }
}

.ewolved__title {
  font-weight: 900;
  line-height: 110%;
  font-size: 146px;
  margin-left: 175px;
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .ewolved__title {
    font-size: 100px;
  }
}

@media (max-width: 767px) {
  .ewolved__title {
    font-size: 80px;
    margin-left: 60px;
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .ewolved__title {
    font-size: 40px;
    margin-left: 10px;
    margin-bottom: 40px;
  }
}

.ewolved__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 195px;
}

@media (max-width: 767px) {
  .ewolved__btn {
    padding-left: 80px;
  }
}

@media (max-width: 600px) {
  .ewolved__btn {
    padding-left: 20px;
  }
}

.ewolved__btn_btn {
  background-color: green;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin-right: 16px;
  border: 1px solid #fff;
  background: #000 url(../img/Play-icon.svg) 55% 50% no-repeat;
  position: relative;
  z-index: 77;
}

@media (max-width: 600px) {
  .ewolved__btn_btn {
    width: 36px;
    height: 36px;
    background-size: 40%;
  }
}

.ewolved__btn_btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: block;
  background-color: transparent;
  border: 1px solid #C5C5C5;
  z-index: 1;
  -webkit-animation: pulse 2s linear infinite normal 0s forwards;
          animation: pulse 2s linear infinite normal 0s forwards;
}

@media (max-width: 600px) {
  .ewolved__btn_btn:after {
    width: 36px;
    height: 36px;
    min-width: 36px;
    -webkit-animation: pulse_m 2s linear infinite normal 0s forwards;
            animation: pulse_m 2s linear infinite normal 0s forwards;
  }
}

.ewolved__btn_btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: block;
  background-color: transparent;
  border: 1px solid red;
  z-index: 1;
  -webkit-animation: pulse 2s linear infinite normal 1s forwards;
          animation: pulse 2s linear infinite normal 1s forwards;
}

@media (max-width: 600px) {
  .ewolved__btn_btn:before {
    width: 36px;
    height: 36px;
    -webkit-animation: pulse_m 2s linear infinite normal 1s forwards;
            animation: pulse_m 2s linear infinite normal 1s forwards;
  }
}

@-webkit-keyframes pulse {
  0% {
    width: 66px;
    height: 66px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    width: 66px;
    height: 66px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
    opacity: 0;
  }
}

@-webkit-keyframes pulse_m {
  0% {
    width: 36px;
    height: 36px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}

@keyframes pulse_m {
  0% {
    width: 36px;
    height: 36px;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0;
  }
}

.ewolved__btn_text {
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 110%;
  font-size: 22px;
}

@media (max-width: 600px) {
  .ewolved__btn_text {
    font-size: 13px;
  }
}

.ewolved__dekor {
  display: block;
  background-color: #FFF;
  opacity: 0.25;
  width: 160px;
  height: 1px;
  border: 1px solid #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  bottom: 190px;
  left: 147px;
}

@media (max-width: 767px) {
  .ewolved__dekor {
    left: 34px;
    bottom: 130px;
  }
}

@media (max-width: 600px) {
  .ewolved__dekor {
    width: 100px;
    left: -11px;
  }
}

.welcome__title {
  margin-left: 230px;
}

.welcome__title::before {
  content: "";
  display: block;
  border-top: 1px solid red;
  width: 80px;
  height: 1px;
  margin-left: 110px;
  padding-bottom: 15px;
}

@media (max-width: 600px) {
  .welcome__title::before {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .welcome__title {
    margin-left: 80px;
  }
}

@media (max-width: 600px) {
  .welcome__title {
    margin-left: 5px;
  }
}

.welcome__title_less {
  margin-left: 335px;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 150%;
}

@media (max-width: 767px) {
  .welcome__title_less {
    margin-left: 140px;
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .welcome__title_less {
    margin-left: 65px;
    font-size: 18px;
  }
}

.welcome__sub_block {
  margin-top: 90px;
}

@media (max-width: 767px) {
  .welcome__sub_block {
    margin-top: 60px;
  }
}

.sub_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sub_block_title {
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  opacity: 0.5;
  position: relative;
}

@media (max-width: 767px) {
  .sub_block_title {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .sub_block_title {
    font-size: 12px;
    letter-spacing: 5px;
    line-height: 200%;
  }
}

.sub_block_title::before {
  content: "";
  display: block;
  background-color: #fff;
  opacity: 0.5;
  width: 80px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: -120px;
}

@media (max-width: 600px) {
  .sub_block_title::before {
    display: none;
  }
}

.sub_block_time {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .sub_block_time {
    font-size: 25px;
  }
}

.sub_block_time span {
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.welcome__colaborative {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 40px;
}

.welcome__colaborative_text {
  max-width: 295px;
  font-family: 'Fira Sans';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 8px;
  text-transform: uppercase;
  margin-right: 160px;
}

@media (max-with: 600px) {
  .welcome__colaborative_text {
    font-size: 13px;
    letter-spacing: 6px;
  }
}

@media (max-width: 600px) {
  .welcome__colaborative_text {
    margin-right: 5px;
  }
}

@media (max-width: 600px) {
  .welcome__colaborative_addition img {
    margin-top: -25px;
    margin-right: -10px;
  }
}
/*# sourceMappingURL=style.css.map */