
//АДАПТИВ
$PC:1200px;
$mini:992px;
$Tb:767px;
$Mb:600px;
$media:820px;

//червоний
$red:red;
$red_t:red;

//чорний
$black:#254152;
$black_t:#000;


//білий сірий
$white:#fff;
$white_t:#fff;


//фіолетовий
$violet_btn:#6F2CFF;
$violet_h1:#6F2DFF;;


//жовтий
$yellow:#ff0;
$yellow_t:#ff0;


//синій
$blue:#2DA6DD;
$blue_t:#00f;

//зелений
$green:#177245;
$green_t:#177245;

//шрифти
$font:16px;
$font_t:17px;
$font_th:18px;
$font_f:19px;
$br:999px;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;800&display=swap');







body{
	background-color: #000;
	color: #fff;
	font-family: "Montserrat";
	font-weight: 400;
}

.content{
	margin: 0 auto;
	max-width: 1285px;
	padding: 0 40px 0 85px ;
	@media (max-width: $Tb) {
		padding: 0 35px 0 55px ;
	}
	@media (max-width: $Mb) {
		padding: 0 20px 0 30px ;
	}
}

.wrapper{
	position: relative;
}
header{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 900;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	width: 100%;;
	background-color: #000;
}