@import "_nullstyle";
@import "_bem.scss";


.header{
	padding: 30px 0;
	display: flex;
	justify-content: $sb;
	align-items: center;
	@media (max-width: $Tb) {
		padding: 20px 0;
	}
	@media (max-width: $Mb) {
		padding: 15px 0;
	}
}

.header__burger {
	width: 32px;
	height: 32px;
	position: relative;
	display: none;
	@media (max-width: $Mb) {
			display: block;
	}
	&:after{
		content: "";
		display: block;
		width: 19px ;
		height: 1px ;
		background-color: #fff;
		position: absolute;
		top: 9px;
		left: 0;
	}
	&:before{
		content: "";
		display: block;
		width: 19px ;
		height: 1px ;
		background-color: #fff;
		position: absolute;
		top: 14px;
		left: 0;
	}
	span{
		&:after{
			content: "";
			display: block;
			width: 19px ;
			height: 1px ;
			background-color: #fff;
			position: absolute;
			top: 19px;
			left: 0;
		}
	}
}

.header__list{
		@media (max-width: $Mb) {
			display: none;
		}
	ul{
		display: flex;
	}
	li:not(:last-child){
			margin-right: 50px;
			@media (max-width: $Tb) {
				margin-right: 20px;
			}	
	}
	li{
		a{
			&:hover{
				color: rgb(185, 86, 86);
			}
			&:active{
				color: rgb(150, 139, 139);
			}
		}
	}
}

.header__btn {
	background-color: #fff;
	letter-spacing: 4px;
	word-spacing: 4px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 14px;
	height: 60px;
	width: 320px;
&:hover{
	background-color: rgb(235, 219, 219);
}
&:active{
	background-color: rgb(150, 139, 139);
}



	@media (max-width: $Tb) {
		width: 270px;
		height: 50px;
		font-size: 12px;
	}
	@media (max-width: $Mb) {
			width: 177px;
			height: 30px;
			letter-spacing: 1px;
	word-spacing: 1px;
	}
a{
	color: black;
	padding: 0px 5px;
}

	}


.header__btn{
		position: relative;
	&:after{
		content: "";
		display: block;
		background-color: black;
		transform: rotate(47deg);
		width: 25px;
		height: 25px;
		position: absolute;
		right: -14px;
		top: -12px;
	}

	&:before{
		content: "";
		display: block;
		background-color: black;
		transform: rotate(47deg);
		width: 25px;
		height: 25px;
		position: absolute;
		left: -14px;
		bottom: -12px;
	}

	@media (max-width: $Mb) {
			&:after{
				position: absolute;
				right: -18px;
				top: -14px;
			}
			&:before{
				width: 15px;
				height: 15px;
				position: absolute;
				z-index: 0;
				left: -8px;
				bottom: -7px;
			}
	}

}

.header__burger__active{
	transition: all 2s linear;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 901;
	width: 100%;
	font-size: 30px;
	background-color: black;
	padding: 70px 0 330px 90px;
	font-family: "Oxanium";
@media (max-width: 450px) {
	padding: 70px 0 330px 50px;
}





	li{
		margin-bottom: 30px;
	
	}
	
	
}

.header__active__less{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 55px;
	right: 45px;

	&:after{
		content: "";
		display: block;
		background-color: red;
		width: 25px;
		height: 4px;
		transform: rotate(45deg);
		position: absolute;
		left: 0px;
		top: 0px;
	}
	&:before{
		content: "";
		display: block;
		background-color: #fff;
		width: 25px;
		height: 4px;
		transform: rotate(-45deg);
	}

}
.active_red{
	color: red;
}
.trans{
	transition: all 2s linear;
	transform: translateY(-100%);
}

.ewolved{
	padding-bottom: 320px;
	margin-top: 300px;
	@media  (max-width: $Tb) {
		margin-top: 270px;
		padding-bottom: 260px;
	}
	@media  (max-width: $Mb) {
		margin-top: 140px;
		padding-bottom: 175px;
	}
}

.ewolved__subtitle{
		font-size: 27px;
		opacity: 0.7;
		letter-spacing: 4px;
		line-height: 110%;
		margin-left: 175px;
		font-weight: 600;
		margin-bottom: 15px;


@media  (max-width: $Tb) {
		font-size: 22px;
		margin-left: 60px;

}
@media  (max-width: $Mb) {
		font-size: 13px;
		margin-left: 10px;
		margin-bottom: 8px;
}
}

.ewolved__title {
	font-weight: 900;
	line-height: 110%;
	font-size: 146px;
	margin-left: 175px;
	margin-bottom: 80px;
	
	@media  (max-width: $mini) {
		font-size: 100px;
	}


	@media  (max-width: $Tb) {
		font-size: 80px;
		margin-left: 60px;
		margin-bottom: 60px;

}
@media  (max-width: $Mb) {
		font-size: 40px;
		margin-left: 10px;
		margin-bottom: 40px;
}
}


.ewolved__btn {
	display: flex;
	align-items: center;
	padding-left: 195px;
	@media  (max-width: $Tb) {
		padding-left: 80px;
	}
	@media  (max-width: $Mb) {
		padding-left: 20px;
	}
}


.ewolved__btn_btn {
	background-color: green;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	margin-right: 16px;
	border: 1px solid #fff;
	background: #000 url(../img/Play-icon.svg) 55% 50% no-repeat;
	position: relative;
	z-index: 77;
	@media  (max-width: $Mb) {
		width: 36px;
		height: 36px;
		background-size: 40%;

	}


	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 66px;
		height: 66px;
		border-radius: 50%;
		display: block;
		background-color:  transparent;
		border: 1px solid #C5C5C5;
		z-index: 1;
		animation: pulse 2s linear infinite normal 0s forwards;
		@media (max-width: $Mb) {
				width: 36px;
				height: 36px;
				animation: pulse_m 2s linear infinite normal 0s forwards;
		}
	}
	&:before{
		content: "";
		
		width: 66px;
		height: 66px;
		border-radius: 50%;
		display: block;
		background-color:  transparent;
		border: 1px solid red;
		z-index: 1;
		animation: pulse 2s linear infinite normal 1s forwards;
		@media (max-width: $Mb) {
			width: 36px;
			height: 36px;
			animation: pulse_m 2s linear infinite normal 1s forwards;
	}
	}

	@keyframes pulse {
					0%{
						width: 66px;
						height: 66px;
						opacity: 1;
						
					}
				
					100%{
							transform: scale(2.5);
							opacity: 0;
					}
	}

	@keyframes pulse_m {
		0%{
			width: 36px;
			height: 36px;
			opacity: 1;
			
		}
	
		100%{
				transform: scale(3);
				opacity: 0;
		}
}



}


















.ewolved__btn_text {
	font-weight: 700;
	letter-spacing: 4px;
	line-height: 110%;
	font-size: 22px;
	@media  (max-width: $Mb) {
		font-size: 13px;
	}
}