@import "_nullstyle";
@import "_bem";


.header{
	padding: 30px 0;
	@media (max-width: $Tb) {
		padding: 20px 0;
	}
	@media (max-width: $Mb) {
		padding: 15px 0;
	}
}

.header__burger {
	width: 32px;
	height: 32px;
	position: relative;
	display: none;
	@media (max-width: $Mb) {
			display: block;
	}
	&:after{
		content: "";
		display: block;
		width: 19px ;
		height: 1px ;
		background-color: #fff;
		position: absolute;
		top: 9px;
		left: 0;
	}
	&:before{
		content: "";
		display: block;
		width: 19px ;
		height: 1px ;
		background-color: #fff;
		position: absolute;
		top: 14px;
		left: 0;
	}
	span{
		&:after{
			content: "";
			display: block;
			width: 19px ;
			height: 1px ;
			background-color: #fff;
			position: absolute;
			top: 19px;
			left: 0;
		}
	}
}

.header__list{
		@media (max-width: $Mb) {
			display: none;
		}
	ul{
		display: flex;
	}
	li:not(:last-child){
			margin-right: 50px;
	}
}