@import "_nullstyle";
@import "_bem.scss";


.header{
	padding: 30px 0;
	display: flex;
	justify-content: $sb;
	align-items: center;
	@media (max-width: $Tb) {
		padding: 20px 0;
	}
	@media (max-width: $Mb) {
		padding: 15px 0;
	}
}

.header__burger {
	width: 32px;
	height: 32px;
	position: relative;
	display: none;
	@media (max-width: $Mb) {
			display: block;
	}
	&:after{
		content: "";
		display: block;
		width: 19px ;
		height: 1px ;
		background-color: #fff;
		position: absolute;
		top: 9px;
		left: 0;
	}
	&:before{
		content: "";
		display: block;
		width: 19px ;
		height: 1px ;
		background-color: #fff;
		position: absolute;
		top: 14px;
		left: 0;
	}
	span{
		&:after{
			content: "";
			display: block;
			width: 19px ;
			height: 1px ;
			background-color: #fff;
			position: absolute;
			top: 19px;
			left: 0;
		}
	}
}

.header__list{
		@media (max-width: $Mb) {
			display: none;
		}
	ul{
		display: flex;
	}
	li:not(:last-child){
			margin-right: 50px;
			@media (max-width: $Tb) {
				margin-right: 20px;
			}	
	}
	li{
		a{
			&:hover{
				color: rgb(185, 86, 86);
			}
			&:active{
				color: rgb(150, 139, 139);
			}
		}
	}
}

.header__btn {
	background-color: #fff;
	letter-spacing: 4px;
	word-spacing: 4px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 14px;
	height: 60px;
	width: 320px;
&:hover{
	background-color: rgb(235, 219, 219);
}
&:active{
	background-color: rgb(150, 139, 139);
}



	@media (max-width: $Tb) {
		width: 270px;
		height: 50px;
		font-size: 12px;
	}
	@media (max-width: $Mb) {
			width: 177px;
			height: 30px;
			letter-spacing: 1px;
	word-spacing: 1px;
	}
a{
	color: black;
	padding: 0px 5px;
}

	}


.header__btn{
		position: relative;
	&:after{
		content: "";
		display: block;
		background-color: black;
		transform: rotate(47deg);
		width: 25px;
		height: 25px;
		position: absolute;
		right: -14px;
		top: -12px;
	}

	&:before{
		content: "";
		display: block;
		background-color: black;
		transform: rotate(47deg);
		width: 25px;
		height: 25px;
		position: absolute;
		left: -14px;
		bottom: -12px;
	}

	@media (max-width: $Mb) {
			&:after{
				position: absolute;
				right: -18px;
				top: -14px;
			}
			&:before{
				width: 15px;
				height: 15px;
				position: absolute;
				z-index: 0;
				left: -8px;
				bottom: -7px;
			}
	}

}

.header__burger__active{
	transition: all 2s linear;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 901;
	width: 100%;
	font-size: 30px;
	background-color: black;
	padding: 70px 0 330px 90px;
	font-family: "Oxanium";
@media (max-width: 450px) {
	padding: 70px 0 330px 50px;
}





	li{
		margin-bottom: 30px;
	
	}
	
	
}

.header__active__less{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 55px;
	right: 45px;

	&:after{
		content: "";
		display: block;
		background-color: red;
		width: 25px;
		height: 4px;
		transform: rotate(45deg);
		position: absolute;
		left: 0px;
		top: 0px;
	}
	&:before{
		content: "";
		display: block;
		background-color: #fff;
		width: 25px;
		height: 4px;
		transform: rotate(-45deg);
	}

}
.active_red{
	color: red;
}
.trans{
	transition: all 2s linear;
	transform: translateY(-100%);
}

.ewolved{
	padding-bottom: 320px;
	margin-top: 300px;
	position: relative;
	@media  (max-width: $Tb) {
		margin-top: 270px;
		padding-bottom: 260px;
	}
	@media  (max-width: $Mb) {
		margin-top: 140px;
		padding-bottom: 175px;
	}
}

.ewolved__subtitle{
		font-size: 27px;
		opacity: 0.7;
		letter-spacing: 4px;
		line-height: 110%;
		margin-left: 175px;
		font-weight: 600;
		margin-bottom: 15px;


@media  (max-width: $Tb) {
		font-size: 22px;
		margin-left: 60px;

}
@media  (max-width: $Mb) {
		font-size: 13px;
		margin-left: 10px;
		margin-bottom: 8px;
}
}

.ewolved__title {
	font-weight: 900;
	line-height: 110%;
	font-size: 146px;
	margin-left: 175px;
	margin-bottom: 80px;
	
	@media  (max-width: $mini) {
		font-size: 100px;
	}


	@media  (max-width: $Tb) {
		font-size: 80px;
		margin-left: 60px;
		margin-bottom: 60px;

}
@media  (max-width: $Mb) {
		font-size: 40px;
		margin-left: 10px;
		margin-bottom: 40px;
}
}


.ewolved__btn {
	display: flex;
	align-items: center;
	padding-left: 195px;
	@media  (max-width: $Tb) {
		padding-left: 80px;
	}
	@media  (max-width: $Mb) {
		padding-left: 20px;
	}
}


.ewolved__btn_btn {
	background-color: green;
	width: 66px;
	height: 66px;
	border-radius: 50%;
	margin-right: 16px;
	border: 1px solid #fff;
	background: #000 url(../img/Play-icon.svg) 55% 50% no-repeat;
	position: relative;
	z-index: 77;
	@media  (max-width: $Mb) {
		width: 36px;
		height: 36px;
		background-size: 40%;

	}


	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 66px;
		height: 66px;
		
		border-radius: 50%;
		display: block;
		background-color:  transparent;
		border: 1px solid #C5C5C5;
		z-index: 1;
		animation: pulse 2s linear infinite normal 0s forwards;
		@media (max-width: $Mb) {
				width: 36px;
				height: 36px;
				min-width: 36px ;
				animation: pulse_m 2s linear infinite normal 0s forwards;
		}
	}
	&:before{
		content: "";
		position: absolute;
		top: -1px;
		left: -1px;
		width: 66px;
		height: 66px;
		border-radius: 50%;
		display: block;
		background-color:  transparent;
		border: 1px solid red;
		z-index: 1;
		animation: pulse 2s linear infinite normal 1s forwards;
		@media (max-width: $Mb) {
			width: 36px;
			height: 36px;
			animation: pulse_m 2s linear infinite normal 1s forwards;
	}
	}

	@keyframes pulse {
					0%{
						width: 66px;
						height: 66px;
						opacity: 1;
						
					}
				
					100%{
							transform: scale(2.5);
							opacity: 0;
					}
	}

	@keyframes pulse_m {
		0%{
			width: 36px;
			height: 36px;
			opacity: 1;
			
		}
	
		100%{
				transform: scale(5);
				opacity: 0;
		}
}



}

.ewolved__btn_text {
	font-weight: 700;
	letter-spacing: 4px;
	line-height: 110%;
	font-size: 22px;
	@media  (max-width: $Mb) {
		font-size: 13px;
	}
}
.ewolved__dekor {
	display: block;
	background-color: #FFF;
	opacity: 0.25;
	width: 160px;
	height: 1px;
	border: 1px solid #fff;
	transform: rotate(90deg);
	position: absolute;
	bottom: 190px;
	left: 147px;
	@media (max-width:$Tb) {
		left: 34px;
		bottom: 130px;
	}
	@media (max-width: $Mb) {
		width: 100px;
		left: -11px;
	}
}
/////////////section 2///////////////////////

.welcome__title {
		margin-left: 230px;
		&::before{
			content: "";
			display: block;
			border-top: 1px solid red;
			width: 80px ;
			height: 1px;
			margin-left: 110px;
			padding-bottom: 15px;
			@media (max-width: $Mb) {
				margin-left: 40px;
			}
		}
		@media (max-width: $Tb) {
			margin-left: 80px;
		}
		@media (max-width: $Mb) {
			margin-left: 5px;
		}
}


.welcome__title_less {
			margin-left: 335px;
			font-size: 40px;
			font-weight: 800;
			text-transform: uppercase;
			line-height: 150%;
			@media (max-width: $Tb) {
				margin-left: 140px;
				font-size: 35px;
			}
			@media (max-width: $Mb) {
				margin-left: 65px;
				font-size: 18px;
			}
}













.welcome__sub_block {
	margin-top: 90px;
	@media (max-width: $Tb) {
		margin-top: 60px;
	}
}
.sub_block {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.sub_block_title {
	margin-bottom: 20px;
font-size: 27px;
line-height: 32px;
letter-spacing: 7.33333px;
text-transform: uppercase;
opacity: 0.5;
position: relative;
@media (max-width: $Tb) {
	font-size: 22px;
}
@media (max-width: $Mb) {
	font-size: 12px;
	letter-spacing: 5px;
	line-height: 200%;

}
&::before{
	content: "";
	display: block;
	background-color: #fff;
	opacity: 0.5;
	width: 80px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: -120px;
	@media (max-width: $Mb) {
		display: none;
	}
}


}
.sub_block_time {
font-family: 'Fira Sans';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 100%;
text-transform: uppercase;
@media (max-width: $Mb) {
		font-size: 25px;
}
span{
	border-right: 1px solid #fff;
	padding-right: 10px;
}
}
.welcome{
		margin-bottom: 170px;
		@media (max-width: $Tb) {
			margin-bottom: 0px;
		}
}




.welcome__colaborative {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 40px;
	
}
.welcome__colaborative_text {
	max-width: 295px;
	font-family: 'Fira Sans';
	font-size: 16px;
	line-height: 19px;
letter-spacing: 8px;
text-transform: uppercase;
margin-right: 160px;
@media (max-with: $Mb) {
		font-size: 13px;
		letter-spacing: 6px;
}
@media (max-width: 600px) {
	margin-right: 5px;
}
}

.welcome__colaborative_addition {
	img{
		@media (max-width: 600px) {
				margin-top: -25px;
				margin-right: -10px;
		}
	}
}

.part_main{
	display: flex;
	flex-direction: column;
	@media (max-width: 600px) {
		margin-top: 30px;
	}
}




.part_main__item {
	max-width: 390px;
	margin-bottom: -70px;
	@media (max-width: 900px) {
				margin-bottom: 40px;
	}
	@media (max-width: 600px) {
		max-width: 290px;
	}
}
.part_item_title {
		font-weight: 800;
		font-size: 28px;
		line-height: 100%;
		margin-bottom: 40px;
		text-transform: uppercase;
		span{
			color: red;
		}
		@media (max-width: $Mb) {
				font-size: 22px;
				margin-bottom: 25px;
		}
}
.part_item_p{
	text-transform: uppercase;
	font-family: 'Fira Sans';
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 8px;
	margin-right: 30px;
	@media (max-width: $Mb) {
				font-size: 13px;
				line-height: 18px;
	}
}

.part_main__item_2, .part_main__item_4 {
		align-self: flex-end;
		@media (max-width: 400px) {
			align-self: start;
		}
		
}
//////////////////+70px margin>900px//////////////////////

.stade{
		
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			max-width: 1000px;
			margin: 0 auto;
			@media (max-width: 900px) {
				margin-top: 150px;
			}
			@media (max-width: $Tb) {
				margin-top: 100px;
			}
			@media (max-width: $Mb) {
				margin-top: 100px;
			}

}




.stade__title{
		margin-left: 20px;
		position: relative;
		margin-bottom: 115px;
		@media (max-width: $Tb) {
		margin-bottom: 60px;
		}
		@media (max-width: $Mb) {
				margin-bottom: 40px;
		}
		&::before{
			content: "";
			display: block;
			background-color: red;
			width: 85px;
			height: 1px;
			left: 200px;
			position: absolute;
			top: -20px;
			@media (max-width: $Tb) {
				position: absolute;
				top: -10px;
		}
		@media (max-width: $Mb) {
			position: absolute;
			top: -10px;
			left: 50px;
	}
}
}

.stade__item {
	max-width: 310px;
	margin-bottom: 70px;
	@media (max-width: $Mb) {
		margin-bottom: 50px;
	}
}
.stade__number {
	opacity: 0.5;
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 7.33333px;
	text-transform: uppercase;
	position: relative;
	&::before{
		content: "";
		display: block;
		background-color: red;
		width: 80px;
		height: 1px;
		position: absolute;
		top: 15px;
		left: 80px;
	}
}
.stade__item__title {	
font-family: 'Fira Sans';
font-weight: 800;
font-size: 28px;
line-height: 100%;
text-transform: uppercase;
margin-top: 20px;
margin-bottom: 30px;
position: relative;
&::after{
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 139px;
	background: url(../img/title_before.svg) 100% 100%;
	width: 108px;
	height: 20px;
}




@media (max-width: $Mb) {
		margin-left: 25px;
		font-size: 22px;
		margin-top: 15px;
	margin-bottom: 20px;
}
}
.stade__item__p {
font-size: 18px;
line-height: 22px;
letter-spacing: 8px;
text-transform: uppercase;
opacity: 0.5;
@media (max-width: $Mb) {
	font-size: 13px;
}
}
//////////////////////////////////////
.partners__title{
	position: relative;
	margin-bottom: 50px;
	margin-top: 30px;
	@media (max-width: $Mb) {
		margin-bottom: 30px;
	}


	span{
		color: red;
	}
	&::before{
		content: "";
		display: block;
		background-color: red;
		width: 85px;
		height: 1px;
		left: 200px;
		position: absolute;
		top: -20px;
		@media (max-width: $Tb) {
			position: absolute;
			top: -10px;
	}
	@media (max-width: $Mb) {
		position: absolute;
		top: -10px;
		left: 50px;
}
}
}

.partners__net {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	align-self: center;
  justify-self: center;
}
.partners__item {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 50px;
}
.partners__item_img {
	margin-bottom: 40px;
}
.partners__item_text {
font-size: 18px;
line-height: 1;
letter-spacing: 8px;
text-transform: uppercase;
opacity: 0.5;
}


img{
	max-width: 100%;
}



///////////////////////////////////////////////////////

.team__title {
	text-align: center;
	position: relative;
	margin-bottom: 70px;
	@media (max-width: $Mb) {
		margin-bottom: 40px;
		text-align: left;
	}
	&::before{
		content: "";
		display: block;
		background-color: red;
		width: 80px;
		height: 1px;
		position: absolute;
		left: 50%;
		@media (max-width: $Mb) {
			width: 50px;
			margin-top: -5px;
			left: 0%;
		}
	}

}






.team__net {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
	grid-gap: 70px;
	@media (max-width: 992px) {
		grid-gap: 40px;
	}
}
.team__item {
	justify-self: center;
	display: flex;
	flex-direction: column;
	max-width: 320px;
	max-height: 380px;
	box-sizing: border-box;
	border-radius: 16px;
  background: linear-gradient(to bottom, #000, purple);
	padding: 3px;
}
.team__item_wrapper {
	background: linear-gradient(360deg, #16181B 0%, rgba(22, 24, 27, 0) 70.26%);
box-shadow: 0px 16px 16px rgba(0, 0, 0, 0.16);
	width: 100%;
	height: 100%;
	border-radius: 16px;
	padding: 0 25px 32px 25px;
}



.team__item_img {
	margin-bottom: 13px;
}
.team__item_title {
	background: rgba(153, 162, 213, 0.08);
backdrop-filter: blur(16px);
border-radius: 8px;
text-align: center;
font-family: 'Oxanium';
font-weight: 700;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
justify-content: center;
text-transform: uppercase;
color: #FFFFFF;
height: 44px;
margin-bottom: 20px;
&:hover{
	background: rgba(153, 162, 213, 0.3);
}
}
.team__item_text {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.team__text_product {
font-family: 'Oxanium';
font-weight: 600;
font-size: 14px;
line-height: 15px;
color: #6c767e;
}


footer{
	margin-top: 150px;
	padding-bottom: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: $Mb) {
		margin-top: 70px;
	}
}

.footer__text{
	margin-bottom: 50px;
}

.footer__text_p{
		font-weight: 800;
		font-size: 25px;
		line-height: 48px;
		text-transform: uppercase;
		@media (max-width: $Mb) {
			font-size: 16px;
			text-align: center;
		}
}

.footer__social_networks{

		display: flex;
		justify-content: space-between;
		width: 300px;
		padding: 0 5px;
		margin-bottom: 50px;


	a{

		img{
			max-width: 28px;
		}
	}
}
.footer__politic{
	text-align: center;
	a{
		font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: 1.05px;
text-transform: uppercase;
opacity: 0.5;
	}
}